# Python
__pycache__/
*.pyc
venv/
../.venv/

# Node / Next.js
node_modules/
.next/
build/

# Variables de entorno (¡nunca subir credenciales!)
.env
.env.local

# Sistema / editor
.DS_Store
.vscode/
.idea/